body {
    font-family: Arial;
    background: #0f3fdd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    background: #38FF9C;
    padding: 25px;
    width: 420px;
    text-align: center;
    border-radius: 10px;
}

.option {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    cursor: pointer;
}

#nextBtn {
    display: none;
    margin-top: 10px;
}
